In [1]:
import os; os.chdir('..')

In [2]:
import pandas as pd

In [16]:
subjects= pd.read_csv("temp/subjects.csv")
subjects

,Subject_Code,Subject,Faculty,Day,Time,Link
0,OMC200A,Introduction to Database Management Systems,Dr. Anupriya,Wednesday,4.00 PM to 5.00 PM,Click here
1,OMC200B,Introduction to Object-Oriented Programming,Ms. Afsar Jahan,Monday,6.00 PM to 7.00 PM,Click here
2,OMC201,Advanced Database Management Systems,Dr. Umesh Tiwari,Friday,6.00 PM to 7.00 PM,Click here
3,OMC202,Advanced Java Programming,Ms. Vaishnavi T,Tuesday,6.00 PM to 7.00 PM,Click here
4,OMC203,Advanced Data Structures,Dr. Vaishali Kulkarni,Thursday,5.00 PM to 6.00 PM,Click here
5,OMC204A,Data Mining and Warehousing,Dr. Anupriya,Wednesday,6.00 PM to 7.00 PM,Click here
6,OMC204B,Python Programming,Ms. Sreedevi R. Nagarmunoli,Tuesday,5.00 PM to 6.00 PM,Click here
7,OMC204C,Software Project Management,Dr. Anupriya,Thursday,7.00 PM to 8.00 PM,Click here
8,OMC204D,Probability and Statistics,Ms. Ganga Negi,Wednesday,7.00 PM to 8.00 PM,Click here
9,OMC205,Entrepreneurship,Ms. Navya Bhat,Wednesday,5.00 PM to 6.00 PM,Click here
10,OMC206,Career Skills,Mr. Gaurav Dobriyal,Saturday,5.00 PM to 6.00 PM,Click here
11,OMC208,Advanced Database Management Systems Laboratory,Dr. Umesh Tiwari,Saturday,6.00 PM to 7.00 PM,Click here
12,OMC209,Advanced Java Programming Laboratory,Ms. Vaishnavi T,Thursday,6.00 PM to 7.00 PM,Click here
13,OMC210,Advanced Data Structures Laboratory,Dr. Vaishali Kulkarni,Friday,5.00 PM to 6.00 PM,Click here

In [32]:
list_of_subjects= []
for i in range(subjects.__len__()):
# for i in range(2):
    sub= subjects.iloc[i]
    # print(sub)
    # print(sub.keys())
    list_of_subjects.append(f"{sub['Subject_Code']} {sub['Subject']}")
    
for sub in (list_of_subjects):
    print(sub)
    os.makedirs(sub, exist_ok=True)
    with open(f"{sub}/tmp", "w") as f:
        f.write(f"initialized: [{sub}]")

OMC200A Introduction to Database Management Systems
OMC200B Introduction to Object-Oriented Programming
OMC201 Advanced Database Management Systems
OMC202 Advanced Java Programming
OMC203 Advanced Data Structures
OMC204A Data Mining and Warehousing
OMC204B Python Programming
OMC204C Software Project Management
OMC204D Probability and Statistics
OMC205 Entrepreneurship
OMC206 Career Skills
OMC208 Advanced Database Management Systems Laboratory
OMC209 Advanced Java Programming Laboratory
OMC210 Advanced Data Structures Laboratory

In [33]:
subjects.Day.value_counts()

Day
Wednesday    4
Thursday     3
Friday       2
Tuesday      2
Saturday     2
Monday       1
Name: count, dtype: int64

In [34]:
subjects.Day.unique()

array(['Wednesday', 'Monday', 'Friday', 'Tuesday', 'Thursday', 'Saturday'],
      dtype=object)

In [25]:
sub['Subject']

'Introduction to Database Management Systems'

In [40]:
for day in ['Wednesday', 'Monday', 'Friday', 'Tuesday', 'Thursday', 'Saturday']:
    print(day)
    print(subjects[subjects.Day==day][['Subject', 'Time']])
    print()

Wednesday
                                       Subject                Time
0  Introduction to Database Management Systems  4.00 PM to 5.00 PM
5                  Data Mining and Warehousing  6.00 PM to 7.00 PM
8                   Probability and Statistics  7.00 PM to 8.00 PM
9                             Entrepreneurship  5.00 PM to 6.00 PM

Monday
                                       Subject                Time
1  Introduction to Object-Oriented Programming  6.00 PM to 7.00 PM

Friday
                                 Subject                Time
2   Advanced Database Management Systems  6.00 PM to 7.00 PM
13   Advanced Data Structures Laboratory  5.00 PM to 6.00 PM

Tuesday
                     Subject                Time
3  Advanced Java Programming  6.00 PM to 7.00 PM
6         Python Programming  5.00 PM to 6.00 PM

Thursday
                                 Subject                Time
4               Advanced Data Structures  5.00 PM to 6.00 PM
7            Software Project Management  7.00 PM to 8.00 PM
12  Advanced Java Programming Laboratory  6.00 PM to 7.00 PM

Saturday
                                            Subject                Time
10                                    Career Skills  5.00 PM to 6.00 PM
11  Advanced Database Management Systems Laboratory  6.00 PM to 7.00 PM

In [41]:
with open("README.md", "a") as f: 
    for sub in list_of_subjects:
        f.write(f"- [{sub}](<{sub}>)\n")